div{
    background:linear-gradient(313.78deg, #2855ae -3.15%, #7292cf 100%);;
}

.logo{
    width: 12.2rem;
    height: 6.3rem;
    margin-top: 16rem;

    align-self: center;
}

.pic{
    margin-top: 18rem;
}